.notlive-wrapper {
  
  min-height: 100vh;
  background: #1e6fe8;
  display: flex;
  align-items: center;
  padding-left: 80px;
  color: #ffffff;
}

.notlive-content {
  max-width: 620px;
}

.brand img{
  height: 150px;
  width: 250px;
}



h1 {
  font-size: 56px;
  font-weight: 800;
  margin-bottom: 25px;
}

.subtitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 15px;
}

.description {
  font-size: 16px;
  line-height: 1.6;
  color: #e8efff;
  margin-bottom: 35px;
}

.description a {
  color: #ffffff;
  font-weight: 600;
  text-decoration: none;
}

.description a:hover {
  text-decoration: underline;
}

.contact-btn {
  padding: 14px 26px;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.contact-btn:hover {
  background: #ffffff;
  color: #1e6fe8;
}

/* Responsive */
@media (max-width: 768px) {
  .notlive-wrapper {
    padding: 40px 20px;
    justify-content: center;
    text-align: center;
  }

  h1 {
    font-size: 40px;
  }

  .brand {
    margin-bottom: 25px;
  }
}
